.moment {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1em;
}

img {
  max-width: 500px;
  margin: 0 auto 1em;
}

.about-moment,
.actions {
  width: 100%; /* Faz as seções ocuparem toda a largura do contêiner */
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
}

.actions {
  background-color: #eee;
}

.comments {
  width: 100%; /* Faz a seção de comentários ocupar toda a largura do contêiner */
  margin-bottom: 1em;
  padding: 1.5em 0;
}

.about-moment h3,
.actions h3,
.comments h3 {
  margin-bottom: 1em;
}

.comment-container {
  text-align: left;
  border-bottom: 1px solid #efefef;
  padding: 1em 0;
}

.comment {
  font-size: 0.9em;
}

.author {
  font-size: 0.8em;
}

.comment-form {
  width: 100%; /* Faz a seção de formulário ocupar toda a largura do contêiner */
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens do formulário horizontalmente */
}

.comment-form h3 {
  width: 100%; /* Garante que o título ocupe toda a largura disponível */
  text-align: center; /* Centraliza o título */
}

.comment-form form {
  width: 100%;
  max-width: 450px; /* Define uma largura máxima para o formulário */
  margin-top: 1em;
  text-align: left;
}

.author span {
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
  max-width: 450px; /* Define uma largura máxima para os grupos de formulário */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.form-group input,
.form-group textarea {
  width: 100%;
  max-width: 100%; /* Garante que os campos não excedam a largura do grupo de formulário */
}

input[type="submit"] {
  align-self: center;
  padding: 0.5em 2em;
}
